@mixin inputs{
    width: 100%;
    font-size: 2rem;
    padding-left: 10px;
    border-color: rgba(0,0,0,0.12);
    border-width: 1px;
    color: rgba(0,0,0,0.12);
    font-weight: 350;
}
.contact_first{
    background-image: url(../../images/kenrick-mills-MF9Wy1NA55I-unsplash.jpg);
    background-position: 0% 60%;
    width: 100%;
    height: 525px;
    background-size: cover;
    box-shadow: 
        inset 0px 700px 100px -500px #fff,  
        inset 0px -185px 46px -75px #fff;

    .contact_inner_first{
        padding: 10% 1%;

        @media(min-width : 400px){
            padding: 10%;
        }

        @media(min-width : 1000px){
            padding-top: 0;
            max-width: 70%;
        }

        h1{
            font-size: 6.5rem;
        }
        p{
            font-size: 2rem;
        }
    }
}     

.contact_second{
    text-align: center;
    margin-top: -80px;

    &.container{
        padding-left: 35px;
        padding-right: 35px;

        @media(min-width :1000px){
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    h2{
        font-size: 3rem;
    }

    hr{
        width: 10%;        
        background-color: black;
        height: 1.5px;
        margin-bottom: 30px;
        margin-top: 30px;
        
    }

    p{
        font-size: 17px;
        margin-bottom: 30px;
    }

    .contact_inputs{
        @media(min-width :1000px){
            display: flex;
            justify-content: space-between;

            input:nth-child(1) {
                margin-right: 15px;
            }

            input:nth-child(2) {
                margin-left: 15px;
            }            
        } 

        input{
            @include inputs;
            height: 60px;
            margin-bottom: 30px;            
        }
    }
    
    textarea{
        @include inputs;
    }

    .btn{
        display: flex;
        justify-content: flex-end;

        input[type=button]{
            width: 200px;
            height: 50px;    
            border-radius: 5px;
            background-color: #758f97;
            border: unset;
            font-size: 16px;
        }
    }
}

.contact_third{
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
    
    table{
        padding: 5%;       
        padding-left: 45px;

        tr{
            width:100%;

            td{
                padding-left: 10px;

                h3{
                    font-size: 2rem;
                }

                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
.efi{
    width: 100%;
    height: 200px;
}