@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
header .header_menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_menu .menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_menu .menu_logo img {
  width: 100%;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
}

header .header_menu .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

header .header_menu .menu_items .main_menu {
  display: none;
}

@media (min-width: 641px) {
  header .header_menu .menu_items .main_menu {
    display: block;
  }
}

header .header_menu .menu_items .main_menu li {
  display: inline;
  font-size: 24px;
  padding-left: 10px;
}

header .header_menu .menu_items .main_menu li a {
  color: black;
}

@media (min-width: 641px) {
  header .header_menu .menu_items .dropdown {
    display: none;
  }
}

header .header_menu .menu_items .dropdown .dropdown-toggle {
  border: unset;
  background-color: unset;
}

header .header_menu .menu_items .dropdown .dropdown-toggle::after {
  content: unset;
}

header .header_menu .menu_items .dropdown .dropdown-menu {
  left: unset;
  border: unset;
  border-radius: unset;
  right: -10px;
  width: 200px;
  height: 170px;
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.336);
}

.mySlides {
  display: none;
}

.first {
  position: relative;
  width: 100%;
}

.first .introduction {
  width: 100%;
  height: 500px;
  background-image: url("../../images/efi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first .introduction .introduction-inner {
  padding-top: 50px;
  margin-left: 50px;
  font-size: 50px;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first .introduction:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 140px;
  width: 2px;
  background: black;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.second {
  margin-top: 135px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.second .main_content {
  width: 100%;
}

.second .main_content .title {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second .main_content .title h3 {
  font-size: 30px;
}

.second .main_content .content p {
  font-size: 16px;
}

.third {
  background-color: #70351d;
  width: 100%;
  padding-top: 90px;
  height: 470px;
}

.third .third_inner {
  background-color: #b49285;
  width: 90%;
  height: 300px;
}

.third .third_inner .title {
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
}

.third .third_inner .title h4 {
  color: white;
  font-size: 35px;
}

.third .third_inner .content {
  width: 100%;
  text-align: right;
  padding-left: 30px;
  padding-right: 20px;
}

.third .third_inner .content p {
  font-size: 14px;
}

.third img {
  padding-left: 10%;
  width: 90%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(11%, -86%);
          transform: translate(11%, -86%);
}

.quarter {
  width: 100%;
}

.quarter ol {
  list-style: none;
  padding-left: 10px;
}

.quarter ol li {
  counter-increment: my-awesome-counter;
  font-size: 24px;
  margin-top: 55px;
}

.quarter ol li::before {
  content: "0" counter(my-awesome-counter) ".";
  font-weight: bold;
  font-size: 10rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  color: #b49285;
  z-index: -1;
  position: absolute;
  margin-top: -55px;
}

.fifth .title {
  background-color: #b49285;
  width: 50%;
  position: absolute;
  right: 0;
  height: 30px;
}

.fifth .title h2 {
  font-size: 24px;
  font-weight: 500;
  -webkit-transform: translate(-26px, 10px);
          transform: translate(-26px, 10px);
}

.fifth .carousel {
  top: 45px;
}
/*# sourceMappingURL=master.css.map */