@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
header .header_menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_menu .menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_menu .menu_logo img {
  width: 100%;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
}

header .header_menu .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

header .header_menu .menu_items .main_menu {
  display: none;
}

@media (min-width: 641px) {
  header .header_menu .menu_items .main_menu {
    display: block;
  }
}

header .header_menu .menu_items .main_menu li {
  display: inline;
  font-size: 24px;
  padding-left: 10px;
}

header .header_menu .menu_items .main_menu li a {
  color: black;
}

@media (min-width: 641px) {
  header .header_menu .menu_items .dropdown {
    display: none;
  }
}

header .header_menu .menu_items .dropdown .dropdown-toggle {
  border: unset;
  background-color: unset;
}

header .header_menu .menu_items .dropdown .dropdown-toggle::after {
  content: unset;
}

header .header_menu .menu_items .dropdown .dropdown-menu {
  left: unset;
  border: unset;
  border-radius: unset;
  right: -10px;
  width: 200px;
  height: 170px;
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.336);
}

.mySlides {
  display: none;
}

.first {
  position: relative;
  width: 100%;
}

.first .introduction {
  width: 100%;
  height: 500px;
  background-image: url("../../images/efi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first .introduction .introduction-inner {
  padding-top: 10%;
  margin-left: 50px;
  font-size: 50px;
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.2;
}

@media (min-width: 900px) {
  .first .introduction .introduction-inner {
    color: white;
  }
}

.first .introduction :after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 135px;
  width: 2px;
  background: black;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.second {
  margin: 135px 0 20px 0;
  padding: 0 30px;
}

.second .main_content {
  width: 100%;
}

@media (min-width: 1000px) {
  .second .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1000px) {
  .second .main_content .content {
    width: 40%;
  }
}

.second .main_content .content .inner_title {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second .main_content .content .inner_title h3 {
  font-size: 30px;
}

.second .main_content .content .inner_content p {
  font-size: 16px;
}

@media (min-width: 1000px) {
  .second .main_content .images {
    width: 60%;
    margin-bottom: -450px;
    -webkit-transform: translate(0px, -91px);
            transform: translate(0px, -91px);
  }
}

.second .main_content .images .image1 {
  display: none;
}

@media (min-width: 1000px) {
  .second .main_content .images .image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
  }
  .second .main_content .images .image1 img {
    width: 450px;
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-left: 30px;
  }
}

.second .main_content .images .image2 {
  display: none;
}

@media (min-width: 1000px) {
  .second .main_content .images .image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(240px, -110px);
            transform: translate(240px, -110px);
    max-width: 10px;
  }
  .second .main_content .images .image2 img {
    width: 350px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1300px) {
  .second .main_content .images .image2 img {
    width: 530px;
  }
}

.second .main_content .images .image3 {
  display: none;
}

@media (min-width: 1250px) {
  .second .main_content .images .image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    -webkit-transform: translate(-270px, -289px);
            transform: translate(-270px, -289px);
  }
  .second .main_content .images .image3 img {
    width: 400px;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(0px, 110px);
            transform: translate(0px, 110px);
  }
}

.second .main_content .images .image_content {
  display: none;
}

@media (min-width: 1250px) {
  .second .main_content .images .image_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transform: translate(100px, -520px);
            transform: translate(100px, -520px);
    z-index: 4;
    width: 75%;
  }
  .second .main_content .images .image_content .image_content_title {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second .main_content .images .image_content .image_content_title h3 {
    font-size: 30px;
    -webkit-transform: translate(100%, -130px);
            transform: translate(100%, -130px);
  }
  .second .main_content .images .image_content .image_content_content p {
    font-size: 16px;
  }
}

.third {
  background-color: #70351d;
  width: 100%;
  padding-top: 90px;
  height: 470px;
}

.third .third_inner {
  background-color: #b49285;
  width: 90%;
  height: 300px;
}

@media (min-width: 700px) {
  .third .third_inner {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.third .third_inner .title {
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  max-width: 300px;
}

.third .third_inner .title h4 {
  color: white;
  font-size: 35px;
}

.third .third_inner .content {
  width: 100%;
  text-align: right;
  padding-left: 30px;
  padding-right: 20px;
}

.third .third_inner .content p {
  font-size: 14px;
}

.third img {
  padding-left: 10%;
  width: 90%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(11%, -86%);
          transform: translate(11%, -86%);
}

@media (min-width: 700px) {
  .third img {
    height: 80%;
    -webkit-transform: translate(11%, -67%);
            transform: translate(11%, -67%);
  }
}

.quarter {
  width: 100%;
}

.quarter ol {
  list-style: none;
  padding-left: 10px;
}

@media (min-width: 700px) {
  .quarter ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.quarter ol li {
  counter-increment: my-awesome-counter;
  font-size: 24px;
  margin-top: 55px;
}

@media (min-width: 700px) {
  .quarter ol li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 50%;
    padding: 30px 10px 0;
  }
}

.quarter ol li::before {
  content: "0" counter(my-awesome-counter) ".";
  font-weight: bold;
  font-size: 10rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  color: #b49285;
  z-index: -1;
  position: absolute;
  margin-top: -55px;
}

.fifth .title {
  position: relative;
}

.fifth .title :after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 180px;
  height: 0.5em;
  border-top: 1px solid black;
}

.fifth .title h2 {
  text-align: end;
  font-size: 36px;
  font-weight: 500;
  padding-right: 20px;
  color: #70351d;
}

.fifth .carousel {
  top: 20px;
}

.fifth .carousel h3 {
  font-size: 3.75rem;
}

.contact_first {
  background-image: url(../../images/kenrick-mills-MF9Wy1NA55I-unsplash.jpg);
  background-position: 0% 60%;
  width: 100%;
  height: 525px;
  background-size: cover;
  -webkit-box-shadow: inset 0px 700px 100px -500px #fff,   inset 0px -185px 46px -75px #fff;
          box-shadow: inset 0px 700px 100px -500px #fff,   inset 0px -185px 46px -75px #fff;
}

.contact_first .contact_inner_first {
  padding: 10% 1%;
}

@media (min-width: 400px) {
  .contact_first .contact_inner_first {
    padding: 10%;
  }
}

@media (min-width: 1000px) {
  .contact_first .contact_inner_first {
    padding-top: 0;
    max-width: 70%;
  }
}

.contact_first .contact_inner_first h1 {
  font-size: 6.5rem;
}

.contact_first .contact_inner_first p {
  font-size: 2rem;
}

.contact_second {
  text-align: center;
  margin-top: -80px;
}

.contact_second.container {
  padding-left: 35px;
  padding-right: 35px;
}

@media (min-width: 1000px) {
  .contact_second.container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.contact_second h2 {
  font-size: 3rem;
}

.contact_second hr {
  width: 10%;
  background-color: black;
  height: 1.5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact_second p {
  font-size: 17px;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  .contact_second .contact_inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact_second .contact_inputs input:nth-child(1) {
    margin-right: 15px;
  }
  .contact_second .contact_inputs input:nth-child(2) {
    margin-left: 15px;
  }
}

.contact_second .contact_inputs input {
  width: 100%;
  font-size: 2rem;
  padding-left: 10px;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px;
  color: rgba(0, 0, 0, 0.12);
  font-weight: 350;
  height: 60px;
  margin-bottom: 30px;
}

.contact_second textarea {
  width: 100%;
  font-size: 2rem;
  padding-left: 10px;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px;
  color: rgba(0, 0, 0, 0.12);
  font-weight: 350;
}

.contact_second .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact_second .btn input[type=button] {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #758f97;
  border: unset;
  font-size: 16px;
}

.contact_third {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
}

.contact_third table {
  padding: 5%;
  padding-left: 45px;
}

.contact_third table tr {
  width: 100%;
}

.contact_third table tr td {
  padding-left: 10px;
}

.contact_third table tr td h3 {
  font-size: 2rem;
}

.contact_third table tr td p {
  font-size: 1.5rem;
}

.efi {
  width: 100%;
  height: 200px;
}

.explore {
  background-color: #e2e0e0;
}

.explore .explore_section_1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.explore .explore_section_1 h1 {
  padding-bottom: 20px;
  font-size: 4rem;
  font-weight: 400;
}

.explore .explore_section_1 p {
  font-size: 2rem;
  font-weight: 100;
}

@media (min-width: 980px) {
  .explore .explore_section_2 {
    padding-right: 2%;
    padding-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .explore .explore_section_2 div:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 2000px) {
  .explore .explore_section_2 {
    max-width: 2000px;
  }
}

.explore .explore_section_2 .explore_inner_section_2 {
  margin-bottom: 40px;
}

@media (min-width: 980px) {
  .explore .explore_section_2 .explore_inner_section_2 {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.explore .explore_section_2 .explore_inner_section_2 .details {
  padding-left: 15%;
  padding-bottom: 20px;
}

.explore .explore_section_2 .explore_inner_section_2 .details h2 {
  font-size: 4rem;
  font-weight: 100;
  padding-bottom: 10px;
}

.explore .explore_section_2 .explore_inner_section_2 .details p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3;
  max-height: 95px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
}

.explore .explore_section_2 .explore_inner_section_2 .details .select_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.explore .explore_section_2 .explore_inner_section_2 .details .select_btn input[type=button] {
  width: 100px;
  height: 40px;
  background-color: #758f97;
  border: unset;
  font-size: 16px;
  border-radius: 100px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.explore .explore_section_2 .explore_inner_section_2 img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

@media (min-width: 980px) {
  .explore .explore_section_2 .explore_inner_section_2 img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.blog_section_1 {
  background-image: url(../../images/ales-krivec-_XNQr5BOcEI-unsplash.jpg);
  background-position: 0% 60%;
  width: 100%;
  height: 525px;
  background-size: cover;
  -webkit-box-shadow: inset 0px 700px 100px -500px #fff,   inset 0px -185px 46px -75px #fff;
          box-shadow: inset 0px 700px 100px -500px #fff,   inset 0px -185px 46px -75px #fff;
  text-align: center;
  padding-top: 50px;
}

.blog_section_1 h1 {
  font-size: 6rem;
  font-weight: 100;
}

.blog_section_2:before, .blog_section_2:after {
  content: unset;
}

@media (min-width: 600px) {
  .blog_section_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: unset;
  }
}

@media (min-width: 2000px) {
  .blog_section_2 {
    max-width: 2000px;
  }
}

.blog_section_2 .blog_inner_section_2 {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .blog_section_2 .blog_inner_section_2 {
    width: 40%;
  }
}

@media (min-width: 900px) {
  .blog_section_2 .blog_inner_section_2 {
    width: 30%;
  }
}

.blog_section_2 .blog_inner_section_2 .img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 900px) {
  .blog_section_2 .blog_inner_section_2 .img img {
    height: 300px;
  }
}

.blog_section_2 .blog_inner_section_2 .details h2 {
  font-size: 3rem;
  font-weight: 100;
}
/*# sourceMappingURL=master.css.map */